<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wypozyczalnia</title>

    <style>
        .header {
            background-color: darkolivegreen;
        }

        .even {
            background-color: darkgreen;
        }

        .odd {
            background-color: green;
        }

    </style>
</head>
<body>
<table>
    <thead>
    <tr class="header">
        <td>Numer rej.</td>
        <td>Marka</td>
        <td>Model</td>
        <td>Kraj pochodzenia</td>
        <td>Rok prod.</td>
        <td></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <!-- <div th:if="${ cars.size() > 0 }"> -->
    <div th:if="${ not #lists.isEmpty(cars) }">
        <tr th:each="car, iterStat : ${cars}" th:class="${iterStat.odd} ? 'odd' : 'even'">
            <td><span th:text="${car.registerPlate}"></span></td>
            <td><span th:text="${car.producer}"></span></td>
            <td><span th:text="${car.model}"></span></td>
            <td>
                <div th:switch="${car.producer}">
                    <span th:case="VW">Niemcy</span>
                    <span th:case="Renault">Francja</span>
                    <span th:case="Seat">Hiszpania</span>
                    <span th:case="*">Brak informacji</span>
                </div>
            </td>
            <td><span th:text="${car.yearOfProduction}"></span></td>
            <td>
                <span th:if="${car.yearOfProduction < 1990}">Oldtimer</span>
                <span th:if="${car.yearOfProduction > 2015}">Nowosc</span>
            </td>
            <td>
                <a th:href="@{/cars/} + ${car.id}">Szczegoly</a>
            </td>
        </tr>
    </div>
    <div th:unless="${ not #lists.isEmpty(cars) }">
        <tr>
            <td colspan="4">Brak samochodów w wypożyczalni</td>
        </tr>
    </div>
    </tbody>
</table>
</body>
</html>
